


.container-flex {background-color: chocolate;align-items: center;}

.section-content-uno {display: flex;flex-direction:row;gap: 10px;background-color: aqua;justify-content: center;}


.section-content-uno .img-uno, .img-dos, .img-tres, .img-cuatro, .img-cinco, .img-seis{text-align: center;padding: 10px;
    background-color: hwb(210 92% 5%);height: auto;}

.section-content-dos{display: flex;flex-direction:row;gap: 20px;margin-top: 10px;justify-content: center;}

.container-flex img {height: 200px;object-fit:contain;  }

.container-flex h2 {font-size: 20px;text-align: center;}

button{color: aliceblue;background-color: black;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 10px;
border-radius: 10px;
cursor: pointer;}

button:hover{background-color: rgb(243, 254, 30);color: black;}

.footer{margin-top: 10px;}


/* mobile */

@media (max-width:768px) {
    .section-content-uno {
     display: flex; flex-direction: column;/* Cambia el fondo en móviles */
    }

    .section-content-dos {display: flex;flex-direction: column;}
  
    
  }
  
