.formulario{display: flex;
    padding: 10px;margin: 5px;height: 400px;
    flex-direction: column;width: 400px;}

.formulario form {font-size: 20px;text-align: center;font-family:sans-serif;}    

.formulario button {background-color: black;padding: 5px;
    color: aliceblue;width: 100px;margin: auto;}

.formulario input , textarea {border-radius: 5px 5px;color: beige;}    

.flex-container{display: flex;justify-content: center;
    background-color: rgb(170, 169, 162);margin: 10px;}

.flex-container

.redes{margin: 5px;
    height: 400px;flex-direction: column;width: 400px;text-align: center;padding: 10px;}

.redes h3{font-size: 40px;font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;}

.redes a {text-decoration: none;color: rgb(13, 14, 15);}

.redes li {list-style: none;padding: 10px;}