.grid-container{display: grid;background-color: aliceblue;grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(4,1fr) ;height: auto;margin-bottom: 10px;gap: 5px;}


.section-uno{grid-column: span 2;grid-row: span 4;display: flex;text-align: center;flex-direction: column;background-color: aquamarine;}

.section-dos{grid-column: span 2;grid-row: span 4;display:flex ;flex-direction: column;text-align: center;background-color: #1795e9;height: auto;}

.section-tres{grid-column: span 4;grid-row:span 2 ;text-align: center;display: flex;flex-direction: column;background-color: #ffdb10;}

.grid-container h2 {font-size: 40px;  font-family: "Saira Stencil One", serif;
    font-weight: 400;
    font-style: normal;}

.grid-container img{max-height:400px ;object-fit: contain;}

/* buttoms */

.grid-container button {color: aliceblue;background-color: black;padding: 10px;width: 200px;text-align: center;margin: auto;}

.grid-container p{font-size:25px; font-family: "Pridi", serif;
    font-weight: 200;
    font-style:italic;
    text-decoration:underline;background-color: rgb(221, 246, 249)
    ;width:400px;align-self: center;margin-top: 5px;}


  

    