@media (max-width: 768px) {
    body {
      background-color: rgb(225, 35, 35);
    }
  
    .container {
      width: 100%;
      padding: 10px;
    }
  
    .menu {
      display: block;
    }
  }
  