//colores

$primary-color: black;
$secondary-color: aliceblue;
$hover-color: rgb(249, 232, 6);
$color-fondo: aliceblue;
$color-primario: aquamarine;
$color-secundario: #1795e9;
$color-terciario: #ffdb10;
$color-texto: black;
$color-hover: yellow;
$fuente-titulo: "Saira Stencil One", serif;
$fuente-texto: "Pridi", serif;
